DJANGO_SECRET_KEY=enter_your_DJANGO_SECRET_KEY
DJANGO_DEBUG=enter_your_DJANGO_DEBUG
DJANGO_ALLOWED_HOSTS=enter_your_DJANGO_ALLOWED_HOSTS
DATABASE_URL=enter_your_DATABASE_URL
REDIS_URL=enter_your_REDIS_URL
TELEGRAM_BOT_TOKEN=enter_your_TELEGRAM_BOT_TOKEN
TELEGRAM_WEBHOOK_SECRET=enter_your_TELEGRAM_WEBHOOK_SECRET
MINI_APP_URL=enter_your_MINI_APP_URL
EMAIL_URL=enter_your_EMAIL_URL
DEFAULT_FROM_EMAIL=enter_your_DEFAULT_FROM_EMAIL
TIME_ZONE=enter_your_TIME_ZONE